@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

header {
    background-color: #fbf8f5;
}

body {
    margin-bottom: 60px;
    background-color: #f7f0e9;
    color: #0c3452;
}

.logo {
    margin-right: 4px;
    width: 90px;
}

.chewy-regular {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
}

.logo-text {
    margin-right: 3rem;
    font-size: 55px;
    color: #0c3452;
}

.nav-link {
    margin-right: 1rem;
    font-size: 1.5rem;
    color: #0c3452 !important;
}

.start-quiz-btn {
    background-color: #8e733d;
    color: white;
}

.start-quiz-btn:hover {
    background-color: #75611e;
    color: white;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5) !important;
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.clock {
    width: 50px;
}

#timer {
    font-size: 2rem;
    vertical-align: middle;
}

.bg-current {
    background-color: #267a31;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5) !important;
    border: none !important;
}

.next-btn {
    background-color: #0c3452;
    color: white;
}

.next-btn:hover {
    background-color: #044996;
    color: white;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5) !important;
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.answer-label:hover {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5) !important;
    font-weight: 600;
    background-color: #d2e5f3 !important;
    cursor: pointer;
}
.answer-label:has(input:checked) {
    background-color: #d2e5f3 !important;
    font-weight: 600;
}

.first-place {
    background-color: #ffc5cc;
}

.second-place {
    background-color: #fed3d9;
}

.third-place {
    background-color: #fee5e9;
}

.table-header {
    background-color: #0c3452;
    color: white;
}

.leaderboard-table {
    background-color: #fbf8f5;
}

.leaderboard-table th, .leaderboard-table td {
    vertical-align: middle !important;
    text-align: center;
}

.result-icon {
    width: 35px;
    height: 35px;
}

.result-table {
    background-color: #fbf8f5;
}

.result-table td:last-child, .result-table td:first-child, .result-table th {
    text-align: center;
}